*{
	font-family: 'Open Sans', sans-serif;
}
body{
	margin: 0;
	color: white;
	text-align: center;
}
.div1{
	width: 750px;
	height: 20vh;
	background-color: #8d14e3;
}
.div2{
	width: 750px;
	height: 20vh;
	background-color: gray;
}
.n{
	padding-right: 100px;
}
.m{
	font-size: 10px;
	padding-right: 50px;
}
.text2{
	padding-top: 50px;
}
.whl{
	width: 25px;
	height: 2px;
	margin: auto;
	background-color: white;
}
.name{

}